<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('./partials/metaHead'); %>
</head>
<body>
    
    <%- include('./partials/modal'); %>

    <!-- Header -->
    <%- include('./partials/nav_dashbord',{userData:userData}); %>

    <%- include('./partials/search'); %>

        <!-- Gallery -->
        <section class="profile_content">
            <div class="profile_content_inside" id="myTable">

                <%userOtherData.forEach(data =>{%>
                    <div class="profile_content_inside_card">
                        <div class="card_content_image">
                            
                            <img src="/uploads/img/<%= data.Destination.photo %>" onerror="this.onerror=null;this.src='/img/no-image-available.png';">
                        </div>
                        <div class="card_content">
                            <div class="card_content_title">
                                <a href="" class="card_content_title_font"><%=data.Destination.province%>, <%=data.Destination.name%></a>
                            </div>
                            <div class="card_content_userName">
                                <a href="/profile/:id" class="card_content_userName_font"><%=data.User.full_name()%></a>
                            </div>
                            <div class="card_content_gap">
                                <hr class="card_content_hr">    
                            </div>
                            <div class="card_content_category">
                                <a href="" class="card_content_category_font"><%=data.Destination.category%></a>
                            </div>
                            <div class="card_content_footer">
                                <a href="/plan/joinDestination/<%=userData.id%>/<%=data.PlanId%>/<%=data.id%>/<%=data.departureDate%>/<%=data.endsDate%>" class="card_content_viewAll">Join</a>
                                <span class="card_content_join_number"><%=data.Count%></span>
                                <span class="card_content_date"><%=data.departureDate%></span>
                            </div>
                        </div>
                    </div>
            <%})%>
            </div>
        </section>
    </div>
    <script>

        $(document).ready(function(){
            $("#head_nav_search").click(function(){
                $(".search_section_banner").css("opacity","0")
                $(".search_section_box").css('opacity','1')
                $("html, body").animate({ scrollTop: 0 }, "slow");
            });

            $('#head_nav_add').click(function(){
                $('body').css('overflow','hidden')
                $('.modal_addPlan').css('transform','translate(0,0)')
            })

            $('.modal_plan_bottom_cancle').click(function(){
                $('body').css('overflow','scroll')
                $('.modal_addPlan').css('transform','translate(0,-120%)')
            })

            $('#pop_up_button_profile').click(function(){
                $('body').css('overflow','hidden')
                $('.modal_addPlan').css('transform','translate(0,0)')
            })

            $("#plan_submit").click(function(event){
                var form_data=$("#plan").serializeArray();
                var error_free=true;
                for (var input in form_data){
                    var element=$("#plan_"+form_data[input]['name']);
                    var valid=element.val() != '';
                    if(valid === false){
                        error_free = false
                    }
                }

                if (!error_free) {
                    alert('Lenkapin!');
                    // javascript:history.go(0)
                }else{
                    $('form#plan').submit()
                }
            });
        });


        var target = $('.search_section_banner_message_font');
        var targetHeight = target.outerHeight();

        $(document).scroll(function(e){
            var scrollPercent = (targetHeight - window.scrollY) / targetHeight;
            if(scrollPercent >= 0){
                target.css('opacity', scrollPercent);
            }

            if(targetHeight < window.scrollY){
                target.css('opacity','0')
            }

            console.log(window.scrollY)
        });

    </script>


</body>
</html>