<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/05e7c788bc.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <style>
        
    </style>
</head>
<body>
    <%- include('../partials/modal'); %>
    <!-- Header -->
    <%- include('../partials/nav_dashbord',{userData:userData}); %>    
    <!-- Profile Content -->
    <div class="wrapper_content_profile">
        <div class="profile_content_container">
            <div class="profile_info">
                <div class="users_photo">
                    <img src="/uploads/img/<%= userData.photo_profile %>" onerror="this.onerror=null;this.src='/img/no-image-available.png';">
                </div>
                <div class="users_info">
                    <div class="users_info_name">
                        <h4 class="users_info_name_font"><%=userData.full_name()%></h4>
                    </div>
                    <div class="users_info_status">
                        <div class="accomplished_status">
                            <span class="accomplished_status_fixed_numbers">100</span>
                            <span class="accomplished_status_fixed_text">Accomplished</span>
                        </div>
                        <div class="accomplished_status">
                            <span class="accomplished_status_fixed_numbers">100</span>
                            <span class="accomplished_status_fixed_text">Posts</span>
                        </div>
                        <div class="accomplished_status">
                            <span class="accomplished_status_fixed_numbers">100</span>
                            <span class="accomplished_status_fixed_text">To go</span>
                        </div>
                    </div>
                    <div class="users_info_travelStyle">
                        <p><span class="users_info_travelStyle_fixed">Travel Style</span>
                            <span class="users_info_travelStyle_font"><%=userData.travel_style%></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="profile_nav_inner">
                <a id="plan_open" class="provile_nav_inner_font">Plan</a>
                <a id="edit_profile_open" class="provile_nav_inner_font">Edit Profile</a>
            </div>
        
            <div class="profile_user_content">
             
            <!-- Plan -->
                <div id="plan_profile" class="profile_plan_inside">
                    <%userPlanData.forEach(data =>{%>
                    <div class="profile_plan_card">
                        <div class="profile_plan_card_top">
                            <div class="profile_plan_card_title">
                                <h4 class="profile_plan_card_title_font"><%=data.title%></h4>
                            </div>
                            <div class="profile_plan_card_date">
                                <h4 class="profile_plan_card_date_font"><%=data.departureDate%> - <%=data.endsDate%></h4>
                            </div>
                        </div>
                        <div class="profile_plan_card_mid">
                            <% let count = 1%>
                            <% let hitungDestination = 0%>
                            <%planDestination.forEach(dataDestination =>{%>
                                <%if (dataDestination.PlanId == data.id) { %>
                                    <%hitungDestination++%>
                                <%}%>
                                <%if (dataDestination.PlanId == data.id && count < 5) { %>

                                    <%count++%>
                                    <div class="profile_plan_card_image">

                                        <img src="/uploads/img/<%= dataDestination.Destination.photo %>" onerror="this.onerror=null;this.src='/img/no-image-available.png';">                                         

                                    </div>
                                <%}%>
                            <%})%>
                            <%for (let i = 0; i < 5;i++){%>
                                <%if(count < 5){%>
                                    <div class="profile_plan_card_image">
                                        <img src="img/blankImage.jpg" alt="">
                                    </div>
                                    <%count++%>
                                <%}%>
                            <%}%> 
                        </div>
                        <div class="profile_plan_card_bot">
                            <span class="profile_plan_card_bot_text">Total</span>
                            <span class="profile_plan_card_bot_text"><%=hitungDestination%></span>
                            <span class="profile_plan_card_bot_text"></span>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            $('#head_nav_add').click(function(){
                $('body').css('overflow','hidden')
                $('.modal_addPlan').css('transform','translate(0,0)')
            })

            $('.modal_plan_bottom_cancle').click(function(){
                $('body').css('overflow','scroll')
                $('.modal_addPlan').css('transform','translate(0,-100%)')
            })

            $('#pop_up_button_profile').click(function(){
                $('body').css('overflow','hidden')
                $('.modal_addPlan').css('transform','translate(0,0)')
            })

            $('#plan_open').click(function(){
                $('#plan_profile').css('display','grid')
                $('#accomplished_profile').css('display','none')
            })

            $('#accomplished_open').click(function(){
                $('#plan_profile').css('display','none')
                $('#accomplished_profile').css('display','grid')
            })

            $("#plan_submit").click(function(event){
                var form_data=$("#plan").serializeArray();
                var error_free=true;
                for (var input in form_data){
                    var element=$("#plan_"+form_data[input]['name']);
                    var valid=element.val() != '';
                    if(valid === false){
                        error_free = false
                    }
                }

                if (!error_free) {
                    alert('Lenkapin!');
                    // javascript:history.go(0)
                }else{
                    $('form#plan').submit()
                }
            });
        });
    
    </script>

</body>
</html>