<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/metaHead'); %>
</head>

<body>


  <form action="/profile" method="post">

    <img src="/uploads/img/<%= user.photo_profile %>" onerror="this.onerror=null;this.src='/img/no-image-available.png';" alt="your image"
      height="200" width="300" />
    <input type="text" value="<%= user.first_name %>" readonly>
    <input type="text" value="<%= user.last_name %>" readonly>
    <input type="text" value="<%= user.gender %>" readonly>
    <input type="text" value="<%= user.about_me %>" readonly>
    <input type="text" value="<%= user.travel_style %>" readonly>
  </form>

  <a href="/profile/<%= user.username %>"> Edit Profile </a>

  <%- include('../partials/script'); %>
</body>

</html>