<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

  <form action="" method="post">
    <input type="text" value="<%= user.username %>" name="username" readonly>
    <input type="text" value="<%= user.email %>" name="email" readonly>    
  </form>
  <a href="/settings/<%= user.username%>"> Update Accout</a>
  <a style="color:red" onclick="myFunctionDelete()" href="/settings/<%= user.username %>/delete/<%= user.id %>">Delete Acount</a>

  <script>
    function myFunctionDelete() {
      confirm("Are you sure delete this account ?");
    }
  </script>


</body>

</html>